/*
http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.45;
  letter-spacing: 0.5px;
  color: #4b4b4b;
}

h1 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  letter-spacing: 0.075em;
}

h2 {
  font-size: 20rem;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes leftToRightNH {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes rightToLeftNH {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(30rem);
    opacity: 0;
  }
}
.project-text-ani {
  animation: fadeIn 0.5s 0.1s linear forwards;
}

.project-img-ani {
  animation: rightToLeft 0.3s linear forwards;
}

.project-img-ani-left {
  animation: leftToRight 0.3s linear forwards;
}

.about-dev-ani {
  animation: leftToRightNH 0.3s linear forwards;
}

.about-des-ani {
  animation: rightToLeftNH 0.3s linear forwards;
}

.btn {
  margin-top: 4rem;
}
.btn, .btn:link, .btn:visited {
  color: #196188;
  text-decoration: none;
  padding: 1rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  border: 1px solid #196188;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}
.btn:hover, .btn:focus {
  background-color: #196188;
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 5px 5px rgba(75, 75, 75, 0.2);
  color: #FFF;
  cursor: pointer;
}
.btn:active {
  background-color: #196188;
  outline: none;
  transform: translateY(-1px);
  box-shadow: inset 0 5px 5px rgba(75, 75, 75, 0.5);
  color: #FFF;
}
.btn__white, .btn:link, .btn:visited {
  border: 1px solid #FFF;
  color: #FFF;
  font-weight: 300;
}
.btn__white:hover, .btn__white:focus, .btn:link:hover, .btn:link:focus, .btn:visited:hover, .btn:visited:focus {
  background-color: #FFF;
  color: #196188;
}

.background {
  height: inherit;
  padding: 20rem 0 30rem;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
.background__right {
  background: linear-gradient(to bottom, #196188 40%, #6bb3dd 120%);
}

.navbar__check {
  display: none;
}
.navbar__button {
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 2.5rem;
  right: 5rem;
  z-index: 2000;
  cursor: pointer;
  background-color: #196188;
  border-radius: 50%;
  transition: all 0.3s 0.2s ease-out;
  animation: rightToLeft 0.8s linear;
}
@media only screen and (max-width: 37.5em) {
  .navbar__button {
    top: 1.5rem;
  }
}
.navbar__icon {
  position: relative;
  margin: 2.5rem 0 0 1rem;
}
.navbar__icon, .navbar__icon::before, .navbar__icon::after {
  width: 3rem;
  height: 2px;
  border-radius: 20%;
  background-color: #FFF;
  display: inline-block;
  transition: transform 0.5s ease-out;
}
.navbar__icon::before, .navbar__icon::after {
  content: "";
  position: absolute;
}
.navbar__icon::before {
  top: -0.8rem;
}
.navbar__icon::after {
  top: 0.8rem;
}
.navbar__button:hover .navbar__icon::before {
  top: -1rem;
}
.navbar__button:hover .navbar__icon::after {
  top: 1rem;
}
.navbar__bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.navbar__nav {
  height: 100%;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(#196188, #6bb3dd);
  z-index: 200;
  transition: all 0.5s ease-out;
}
.navbar__list {
  text-align: center;
  position: relative;
  top: 15%;
}
.navbar__item {
  padding-bottom: 4rem;
}
.navbar__item:hover {
  transform: scale(1.2);
}
.navbar__links {
  color: #FFF;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.navbar__check:checked ~ .navbar__bg {
  opacity: 1;
  width: 100%;
}
.navbar__check:checked ~ .navbar__nav {
  width: 30rem;
  animation: slideIn 0.2s linear forwards;
}
.navbar__check:not(:checked) ~ .navbar__nav {
  width: 0;
  animation: slideOut 0.5s linear forwards;
}
.navbar__check:checked ~ .navbar__button {
  transform: translateX(-20rem);
  background: none;
}
.navbar__check:checked ~ .navbar__button .navbar__icon {
  top: 0;
  background-color: transparent;
}
.navbar__check:checked ~ .navbar__button .navbar__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navbar__check:checked ~ .navbar__button .navbar__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.brand {
  display: flex;
  align-items: center;
  height: 55px;
  margin: 2.5rem 5rem;
  animation: leftToRight 0.8s ease-in;
  text-decoration: none;
  color: #4b4b4b;
}
@media only screen and (max-width: 37.5em) {
  .brand {
    margin: 0;
    padding: 1.2rem 2.5rem;
  }
}
.brand a {
  color: #4b4b4b;
  text-decoration: none;
}
.brand img {
  height: 40px;
  margin-right: 2rem;
}
.brand-name {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.brand-name p {
  font-size: 1.6rem;
}
.brand-name__first {
  font-weight: 200;
}
.brand-name__last {
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(to bottom, #6bb3dd, #196188);
  position: relative;
  height: 12rem;
  display: flex;
  justify-content: center;
}
.footer-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14rem;
  opacity: 0.1;
  z-index: 1;
}
.footer-links {
  z-index: 100;
  align-self: flex-end;
  color: #FFF;
}
.footer-links a {
  color: #FFF;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-copy {
  color: #FFF;
  font-size: 1rem;
  margin-top: 0.2rem;
}

.background-b {
  height: 35rem;
  position: absolute;
  top: 55px;
  right: 14%;
  z-index: -100;
  opacity: 0.1;
}

.header {
  height: 100vh;
  position: relative;
  margin-top: 5rem;
  position: relative;
}
.header-bg {
  background: linear-gradient(135deg, #196188 25%, #6bb3dd);
  clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
  height: inherit;
}
.header-intro {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  color: #FFF;
  margin: 0 10rem;
  width: 50%;
}
.header-intro h1 {
  text-transform: none;
}
.header-intro p {
  font-size: 1.8rem;
}

.proj-header {
  color: rgba(75, 75, 75, 0.1);
  font-size: calc(10vw + 1rem);
  font-weight: 600;
  transform: rotate(3deg);
  margin: 8rem 0 2rem;
  text-align: center;
}

.projects {
  color: #FFF;
  text-align: center;
  margin-top: -5rem;
}
.projects-project {
  margin-bottom: 10rem;
  color: #4b4b4b;
  text-shadow: 1px 1px 3px rgba(155, 155, 155, 0.4);
}
.projects-project-number {
  margin-bottom: 0;
  font-size: 20rem;
  font-weight: 800;
  line-height: 1.1;
}
.projects-project h3 {
  font-size: 2.8rem;
  margin-bottom: 12rem;
}
.projects-project p {
  width: 75%;
  margin: auto;
}
.projects-project img {
  width: 50%;
  margin: 6rem auto 6rem;
  box-shadow: 5px 5px 10px rgba(75, 75, 75, 0.2);
}
.projects-project p:last-of-type {
  font-size: 1.4rem;
}
.projects-project-links {
  margin-top: 2rem;
}
.projects-project-links a,
.projects-project-links span {
  font-size: 1.4rem;
  text-decoration: none;
  color: #4b4b4b;
}
.projects-project-links__color a,
.projects-project-links__color span {
  color: #FFF !important;
}
.projects-project__color {
  margin: 0;
  color: #FFF;
}

.contact {
  text-transform: uppercase;
  z-index: 100;
  background-color: #FFF;
  margin: -4rem auto 4rem;
  width: 75%;
  padding: 4rem;
  border: 1.25px solid #4b4b4b;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(25, 97, 136, 0.2);
}
@media only screen and (max-width: 37.5em) {
  .contact {
    width: auto;
    margin: -4rem 4rem 4rem;
  }
}
.contact-form {
  justify-content: center;
}
.contact-form p {
  padding: 0 5rem 2rem;
  font-size: 1.8rem;
  align-self: center;
  text-transform: none;
}
@media only screen and (max-width: 37.5em) {
  .contact-form p {
    padding: 0 2rem 2rem;
  }
}
.contact-form__button {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
