// _brand.scss

.brand {
    display: flex;
    align-items: center;
    height: 55px;
    margin: 2.5rem 5rem;
    animation: leftToRight .8s ease-in;
    text-decoration: none;
    color: $primary-black;
    @include respond(phone) {
        margin: 0;
        padding: 1.2rem 2.5rem;
    }

    a {
        color: $primary-black;
        text-decoration: none;
    }

    img {
        height: 40px;
        margin-right: 2rem;
    }

    &-name {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        p {
            font-size: 1.6rem;
        }

        &__first {
            font-weight: 200;
        }

        &__last {
            font-weight: 600;
        }
    }
}