// _footer.scss

.footer {
    height: 12rem;
    background: lighten($primary-color, 5%);
    border-top: 4px solid $primary-color-light;
    box-shadow: 0 3px 4px rgba($primary-color, .5) inset;
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo, &-info {
        flex: 1;
        justify-content: center;
        color: $primary-white;
    }

    &-info {
        text-align: center;
        font-size: 1rem;

        &-links {
            a {
                color: $primary-white;
                text-decoration: none;
                font-size: 1.6rem;
                padding: 0 1rem;
            }

            a:not(:last-child) {
                border-right: 1px solid white;
            }
        }
    }

}