// _header.scss

.header {
    height: 72vh;
    min-height: 47rem;
    animation: fadeIn .5s ease-in .2s backwards;
    text-align: center;
    position: relative;
    @include respond(phone) {
        height: 67vh;
        min-height: 40rem;
    }
    @include respond(tablet) {
        height: 67vh;
        min-height: 55rem;
    }

    h1 {
        padding: 5rem 5rem 2rem;
        @include respond(phone) {
            font-size: 3rem;
            padding: 7rem 2rem 2rem;
        }
    }

    p {
        margin-bottom: 8rem;
        font-size: 2.4rem;
        font-weight: 200;

        @include respond(phone) {
            margin-bottom: 5rem;
            padding: 0 5rem;
        }
    }

    &-logo {
        position: absolute;
        bottom: 5%;
        width: 100%;

        img {
            height: 10rem;
            @include respond(phone) {
                height: 7rem;
            }
        }
    }

    hr {
        border-color: rgba($primary-black, 0.3);
        border-width: 0.5px;
    }

    .line-l {
        margin-left: 0;
        width: 45%;
    }

    .line-r {
        position: absolute;
        bottom: 30%;
        right: 0;
        width: 35%;

        @include respond(tablet) {
            width: 20%;
        }
    }
}