// _brand.scss

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $primary-black;

    a {
        color: $primary-black;
        text-decoration: none;
    }

    img {
        height: 40px;
        margin-right: 2rem;
    }

    &-name {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        p {
            font-size: 1.6rem;
        }

        &__first {
            font-weight: 200;
        }

        &__last {
            font-weight: 600;
        }
    }
}
