// _button.scss

.btn {
    &,
    &:link,
    &:visited {
        color: $primary-color;
        text-decoration: none;
        padding: 1rem 3.5rem;
        display: inline-block;
        border-radius: 10rem;
        border: 1px solid $primary-color;
        transition: all 0.2s;
        position: relative;
        font-size: 1.6rem;
        font-weight: 300;
    }
    &:hover,
    &:focus {
        background-color: $primary-color;
        outline: none;
        transform: translateY(-2px);
        box-shadow: 0 5px 5px rgba($primary-black, 0.2);
        color: $primary-white;
        cursor: pointer;
    }
    &:active {
        background-color: $primary-color;
        outline: none;
        transform: translateY(-1px);
        box-shadow: inset 0 5px 5px rgba($primary-black, 0.5);
        color: $primary-white;
    }

    &__white {
    &,        
    &:link,
    &:visited {
        border: 1px solid $primary-white;
        color: $primary-white;
        font-weight: 300;

        &:hover,
        &:focus {
            background-color: $primary-white;
            color: $primary-color;
        }
    }
}
}
