// _navbar.scss

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    margin: 2.5rem 5rem;

    &-brand {
        display: flex;
        align-items: center;
        animation: leftToRight .5s ease-in;
        
        a {
            color: $primary-black;
            text-decoration: none;
        }

        img {
            height: 40px;
            margin-right: 1rem;
            stroke: $primary-color;
        }

        &-name {
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-size: $default-font-size;

            &__first {
                font-weight: 200;
            }

            &__last {
                font-weight: 600;
            }
        }
    }
    &-links {
        padding: 0;
        list-style-type: none;
        display: flex;
        animation: rightToLeft .5s ease-in;

        li {
            font-weight: 600;
            margin: 0 1rem;
            padding: 5px 0;

            a {
                color: $primary-black;
                text-decoration: none;
                font-size: $default-font-size;

                &:hover {
                    border-bottom: 1px solid $primary-color;
                }
            }
        }
    }
}
