// _animations.scss

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-30rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(30rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(30rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        transform: translateX(30rem);
        opacity: 0;
    }
}

.fadeIn-ani {
    animation: fadeIn .5s linear forwards;
}
