// typography.scss

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.45;
    letter-spacing: 0.75px;
    color: $primary-black;
    text-shadow: 1px 1px 3px rgba($primary-grey, 0.4);
}

h1 {
    font-weight: 400;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

h2 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
