// _home.scss

.background-b {
    height: 35rem;
    position: absolute;
    top: 55px;
    right: 14%;
    z-index: -100;
    opacity: 0.1;
}

.header {
    height: 100vh;
    position: relative;
    margin-top: 5rem;
    position: relative;
    &-bg {
        background: linear-gradient(
            135deg,
            $primary-color 25%,
            $primary-color-light
        );
        clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
        height: inherit;
    }

    &-intro {
        position: absolute;
        top: 52%;
        transform: translateY(-50%);
        color: $primary-white;
        margin: 0 10rem;
        width: 50%;
        h1 {
            text-transform: none;
        }
        p {
            font-size: 1.8rem;
        }
    }
}

.proj-header {
    color: rgba($primary-black, 0.1);
    font-size: calc(15vw + 1rem);
    font-weight: 600;
    transform: rotate(3deg);
    margin: 10rem auto 5rem;
    text-align: center;
}

.projects {
    color: $primary-white;
    text-align: center;
    margin-top: -5rem;
    &-project {
        margin-bottom: 10rem;
        color: $primary-black;
        text-shadow: 1px 1px 3px rgba($primary-grey, .4);

        &-number {
            margin-bottom: 0;
            font-size: 20rem;
            font-weight: 800;
            line-height: 1.1;
        }

        h3 {
            font-size: 2.8rem;
        }

        p {
            width: 75%;
            margin: auto;
        }

        img {
            width: 50%;
            margin: 12rem auto;
            box-shadow: 5px 5px 10px rgba($primary-black, 0.2);
        }

        &-links {
            margin-top: 2rem;
            a,
            span {
                font-size: 1.4rem;
                text-decoration: none;
                color: $primary-black;
            }
            &__color {
                a,
                span {
                    color: $primary-white !important;
                }
            }
        }

        &__color {
            margin: 0;
            color: $primary-white;
        }
    }
}

.contact {
    text-transform: uppercase;
    z-index: 100;
    background-color: $primary-white;
    margin: -4rem auto 4rem;
    width: 75%;
    padding: 4rem;
    border: 1.25px solid $primary-black;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 3px 3px 5px rgba($primary-color, 0.2);

    @include respond(phone) {
        width: auto;
        margin: -4rem 4rem 4rem;
    }

    &-form {
        justify-content: center;

        p {
            padding: 0 5rem 2rem;
            font-size: 1.8rem;
            align-self: center;
            text-transform: none;
            @include respond(phone) {
                padding: 0 2rem 2rem;
            }
        }
        &__button {
            text-transform: uppercase;
        }
    }
}
