// _home.scss

.header {
    height: 72vh;
    min-height: 47rem;
    animation: fadeIn .5s ease-in .2s backwards;

    // background-color: bisque;
    text-align: center;
    position: relative;

    h1 {
        padding: 5rem 5rem 2rem;
    }

    p {
        margin-bottom: 8rem;
        font-size: 2.4rem;
        font-weight: 200;
    }

    &-logo {
        position: absolute;
        bottom: 5%;
        width: 100%;

        img {
            height: 10rem;
        }
    }

    hr {
        border-color: rgba($primary-black, 0.3);
        border-width: 0.5px;
    }

    .line-l {
        margin-left: 0;
        width: 45%;
    }

    .line-r {
        position: absolute;
        bottom: 30%;
        right: 0;
        width: 35%;
    }
}

.summary {
    padding: 8rem;
    background-image: linear-gradient(to bottom, rgba($primary-color, 0.6),
        $primary-color);

    &-text {
        animation: fadeIn .5s ease-in .2s backwards;

        h2 {
            text-align: center;
            color: $primary-white;
        }

        p {
            color: $primary-white;
            font-size: 1.8rem;
            margin: 4rem auto 0;
            line-height: 2;
            width: 60%;
            text-align: center;
        }
    }
}

.projects {
    padding: 8rem 0;

    h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0 8rem;
    }
}

.about {
    z-index: 1;
    padding: 8rem 0 4rem;
    border-top: 1px solid $primary-grey;
    border-bottom: 1px solid $primary-grey;

    h2 {
        text-transform: uppercase;
        margin-bottom: 4rem;
        text-align: center;
    }

    .about-info:first-of-type {
        background-image: linear-gradient(-45deg, rgba($primary-color, 0.4),
            $primary-color 80%);
        -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
        clip-path: polygon(0 0, 90% 0, 75% 100%, 0 100%);
    }

    &-info {
        width: 55%;
        display: flex;
        align-content: space-between;
        padding: 0 25%;

        p:first-of-type {
            margin-bottom: 2rem;
        }

        p:nth-of-type(2) {
            font-weight: 500;
        }

        &__develop {
            padding: 4rem 0;
            color: $primary-white;
        }

        &__design {
            align-items: flex-end;
            text-align: right;
            padding: 4rem 0;
        }
    }
}

.contact {
    text-transform: uppercase;
    z-index: 100;
    background-color: $primary-white;
    margin: -4rem auto 0;
    width: 75%;
    padding: 4rem;
    border: 1.25px solid $primary-black;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 4rem;

    &-form {
        text-align: center;
        margin: 4rem auto 0;
        justify-content: space-evenly;

        &-info {
            display: flex;
            justify-content: center;

            &__person {
                align-self: center;
                padding: 0 2rem;
                width: 50%;

                input {
                    display: block;
                    height: 2.8rem;
                    width: 100%;
                    font: inherit;
                    background-color: $primary-white;
                    border: inset 1px rgba($primary-grey, 0.5);
                    border-image: none;
                    border-radius: 3px;
                }

                input:last-of-type {
                    margin-top: 2rem;
                }
            }

            &__message {
                width: 50%;
                padding: 0 2rem;

                textarea {
                    height: 100%;
                    width: 100%;
                    font: inherit;
                    background-color: $primary-white;
                    border: inset 1px rgba($primary-grey, 0.5);
                    border-image: none;
                    border-radius: 3px;
                }
            }

        }

        &-button {
            margin-top: 4rem;
        }

    }
}

.footer {
    text-align: center;
    padding: 2rem;
    background-color: $primary-color;
    position: relative;
    height: 12rem;
    display: flex;
    justify-content: center;
    &-img {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        height: 14rem;
        opacity: .1;
        z-index: 1;
    }

    &-links {
        z-index: 100;
        align-self: flex-end;
        color: $primary-white;
        a {
            color: $primary-white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-copy {
        color: $primary-white;
        font-size: 1rem;
        margin-top: .2rem;
    }
}