// _home.scss

.summary {
    padding: 8rem;
    background-image: linear-gradient(to bottom, $primary-color-light,
        $primary-color);
        @include respond(phone) {
            padding: 8rem 2rem;
        }

    &-text {
        animation: fadeIn .5s ease-in .2s backwards;

        h2 {
            text-align: center;
            color: $primary-white;
        }

        p {
            color: $primary-white;
            font-size: 1.8rem;
            margin: auto;
            line-height: 2;
            width: 60%;
            text-align: center;
            @include respond(phone) {
                width: 100%;
            }
        }
    }
}

.projects {
    padding: 8rem 0 0;
    
    @include respond(phone) {
        padding: 4rem 0 0;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0 8rem;
    }
}

.about {
    z-index: 1;
    padding: 8rem 0 4rem;
    border-top: 1px solid $primary-grey;
    border-bottom: 1px solid $primary-grey;

    @include respond(phone) {
        padding: 4rem 0;
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 4rem;
        text-align: center;
        @include respond(phone) {
            margin-bottom: 0;
        }
    }

    .about-info:first-of-type {
        background-image: linear-gradient(-45deg, $primary-color-light,
            $primary-color 80%);
        -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
        clip-path: polygon(0 0, 90% 0, 75% 100%, 0 100%);
    }

    &-info {
        display: flex;
        align-content: space-between;
        padding: 0 25%;

        p:first-of-type {
            margin-bottom: 2rem;
        }

        p:nth-of-type(2) {
            font-weight: 500;
        }

        &__develop {
            padding: 4rem 0;
            color: $primary-white;
            opacity: 0;
        }

        &__design {
            align-items: flex-end;
            text-align: right;
            padding: 4rem 0 8rem;
            opacity: 0;
        }
    }
}

.contact {
    text-transform: uppercase;
    z-index: 100;
    background-color: $primary-white;
    margin: -4rem auto 4rem;
    width: 75%;
    padding: 4rem;
    border: 1.25px solid $primary-black;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 3px 3px 5px rgba($primary-color, 0.2);

    @include respond(phone) {
        width: auto;
        margin: -4rem 4rem 4rem;
    }

    &-form {
        justify-content: center;

        p {
            padding: 0 5rem 2rem;
            font-size: 1.8rem;
            align-self: center;
            text-transform: none;
            @include respond(phone) {
                padding: 0 2rem 2rem;
            }
        }
        &__button {
            text-transform: uppercase;
        }
    }
}